@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

@font-face {
    font-family: mifuente;
    src: url(/fuente/coolvetica.otf);
    font-weight: 400;
}
h2,p{
    font-family: 'Roboto', sans-serif;
}
h1, h2{
    color: #0a2ff1;
}
h1{
    font-family: mifuente;
    font-size: 120px;
    font-weight: 400;
}
h2{
    font-size: 30px;
    font-weight: 900;
}
p{
    font-size: 24px;
    font-weight: 400;
    color: #04146c;
}

main{
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}
div{
    background-color: #eff2ff;
    border-radius: 15px;
    width: 20%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
}
div img{
    width: 25%;
}
#apple{
    width: 18%;
}