@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}

h1, h2{
    color: #0a2ff1;
}

h1{
    font-size: 80px;
    font-weight: 900;
}
h2{
    font-size: 40px;
    font-weight: 400;
}

p{
    font-size: 26px;
    font-weight: 400;
    color: #04146c;
}
p strong{
    font-weight: 700;
}

button{
    font-family: 'Mulish', sans-serif;
    font-size: 29px;
    font-weight: 700;
    color: white;
    background-color: #0a2ff1;
    width: 400px;
    height: 70px;
    border: none;
}
